@import "tailwindcss";

@tailwind utilities;

@layer utilities {
  :root {
    --semaphore-frame: oklch(27.8% 0.033 256.848);
    --semaphore-off: oklch(14.077% 0.0044 285.776 / 0.438);
    --semaphore-on: oklch(72.3% 0.219 149.579);
    --semaphore-active: oklch(79.2% 0.209 151.711);
    --semaphore-inactive: oklch(14.077% 0.0044 285.776 / 0.623);
  }

  .loader {
    border: 16px solid oklch(28.279% 0.14148 290.542 / 0.249);
    border-top: 16px solid oklch(59.6% 0.145 163.225);
    border-bottom: 16px solid oklch(59.6% 0.145 163.225);
    border-radius: 50%;
    width: 120px;
    height: 120px;
    animation: spin 0.65s linear infinite;
    margin: auto;
  }

  .loader-medium {
    border: 8px solid oklch(28.279% 0.14148 290.542 / 0.249);
    border-top: 8px solid oklch(59.6% 0.145 163.225);
    border-bottom: 8px solid oklch(59.6% 0.145 163.225);
    border-radius: 50%;
    width: 60px;
    height: 60px;
    animation: spin 0.65s linear infinite;
    margin: auto;
  }

  .loader-small {
    border: 4px solid oklch(50% 0.134 242.749);
    border-top: 4px solid oklch(82.8% 0.111 230.318);
    border-bottom: 4px solid oklch(82.8% 0.111 230.318);
    border-radius: 50%;
    width: 20px;
    height: 20px;
    animation: spin 0.65s linear infinite;
    margin: auto;
  }

  .semaphore {
    border: 4px solid var(--semaphore-frame);
    border-radius: 50%;
    width: 40;
    height: 40;
    animation: blink 1.5s linear infinite;
  }

  .semaphore-inverse {
    border: 4px solid var(--semaphore-frame);
    border-radius: 50%;
    width: 40;
    height: 40;
    animation: blink 1.5s linear 0.75s infinite;
  }

  .semaphore-active {
    border: 4px solid var(--semaphore-frame);
    background-color: var(--semaphore-active);
    border-radius: 50%;
    width: 40;
    height: 40;
  }

  .semaphore-inactive {
    border: 4px solid var(--semaphore-frame);
    background-color: var(--semaphore-inactive);
    border-radius: 50%;
    width: 40;
    height: 40;
  }

  .h-block-full {
    block-size: 100%;
  }

  .min-w-content {
    min-inline-size: fit-content;
  }

  .w-inline-full {
    inline-size: 100%;
  }

  .dialog-open {
    animation: dialopen 0.1s linear 1;
  }

  .dialog-close {
    animation: dialclose 0.1s linear 1 forwards;
  }
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@keyframes blink {
  0% {
    background-color: var(--semaphore-off);
  }
  21% {
    background-color: var(--semaphore-off);
  }
  25% {
    background-color: var(--semaphore-on);
  }
  75% {
    background-color: var(--semaphore-on);
  }
  79% {
    background-color: var(--semaphore-off);
  }
  100% {
    background-color: var(--semaphore-off);
  }
}

@keyframes dialopen {
  0% {
    opacity: 0;
    transform: translateY(-8px) scale(0.85);
  }
  100% {
    opacity: 1;
    transform: translateY(0) scale(1);
  }
}

@keyframes dialclose {
  0% {
    opacity: 1;
    transform: translateY(0) scale(1);
  }
  100% {
    opacity: 0;
    transform: translateY(-8px) scale(0.85);
  }
}
