@import "tailwindcss";

@tailwind utilities;

.loader {
  border: 16px solid oklch(28.279% 0.14148 290.542 / 0.249);
  border-top: 16px solid oklch(59.6% 0.145 163.225);
  border-bottom: 16px solid oklch(59.6% 0.145 163.225);
  border-radius: 50%;
  width: 120px;
  height: 120px;
  animation: spin 0.65s linear infinite;
  margin: auto;
}

.loader-small {
  border: 4px solid oklch(28.279% 0.14148 290.542 / 0.249);
  border-top: 4px solid oklch(59.6% 0.145 163.225);
  border-bottom: 4px solid oklch(59.6% 0.145 163.225);
  border-radius: 50%;
  width: 20px;
  height: 20px;
  animation: spin 0.65s linear infinite;
  margin: auto;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
