@import "tailwindcss";

@tailwind utilities;

.loader {
  border: 16px solid oklch(28.279% 0.14148 290.542 / 0.249);
  border-top: 16px solid oklch(87.094% 0.26034 146.803);
  border-bottom: 16px solid oklch(87.094% 0.26034 146.803);
  border-radius: 50%;
  width: 120px;
  height: 120px;
  animation: spin 0.65s linear infinite;
}

.loader-small {
  border: 16px solid oklch(28.279% 0.14148 290.542 / 0.249);
  border-top: 16px solid oklch(87.094% 0.26034 146.803);
  border-bottom: 16px solid oklch(87.094% 0.26034 146.803);
  border-radius: 50%;
  width: 24px;
  height: 24px;
  animation: spin 0.65s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
