@import "tailwindcss";

@tailwind utilities;

@layer utilities {
  .loader {
    border: 16px solid oklch(28.279% 0.14148 290.542 / 0.249);
    border-top: 16px solid oklch(59.6% 0.145 163.225);
    border-bottom: 16px solid oklch(59.6% 0.145 163.225);
    border-radius: 50%;
    width: 120px;
    height: 120px;
    animation: spin 0.65s linear infinite;
    margin: auto;
  }

  .loader-small {
    border: 4px solid oklch(28.279% 0.14148 290.542 / 0.249);
    border-top: 4px solid oklch(59.6% 0.145 163.225);
    border-bottom: 4px solid oklch(59.6% 0.145 163.225);
    border-radius: 50%;
    width: 20px;
    height: 20px;
    animation: spin 0.65s linear infinite;
    margin: auto;
  }

  .h-block-full {
    block-size: 100%;
  }

  .min-w-content {
    min-inline-size: fit-content;
  }

  .w-inline-full {
    inline-size: 100%;
  }

  .dialog-open {
    animation: dialopen 0.1s linear 1;
  }

  .dialog-close {
    animation: dialclose 0.1s linear 1 forwards;
  }
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@keyframes dialopen {
  0% {
    opacity: 0;
    transform: translateY(-8px) scale(0.85);
  }
  100% {
    opacity: 1;
    transform: translateY(0) scale(1);
  }
}

@keyframes dialclose {
  0% {
    opacity: 1;
    transform: translateY(0) scale(1);
  }
  100% {
    opacity: 0;
    transform: translateY(-8px) scale(0.85);
  }
}
